/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ----------------
    ----------------
       TYPOGRAPHY
    ----------------
    ----------------
*/
body {
    font-family: Lato;
}



/*
    ----------------
    ----------------
        BORDERS
    ----------------
    ----------------
*/

.section,
.footer-container {
    border: 1px solid black;
}

/*
    ---------------
    ---------------
      LAYOUT
    ---------------
    ---------------
*/
.nav-container,
.hero-container,
.work-container,
.footer-container {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    margin: 50px auto; 
    box-sizing: border-box;
}
.work-container {
    margin-top: 40px;
}
#projects-container {
    padding: 0 0 0 100px;
}
#hero-section {
    padding: 100px 0;
}
#footer-section {
    padding: 80px 0;
}



/*
    ----------------
    ----------------
        NAVBAR
    ----------------
    ----------------
*/    
.logo-container {
    display: flex;
}
.logo-container img {
    align-self: flex-end;
    height: 40px;
}
.nav-menu-about,
.nav-menu-work{
    align-self: flex-end;
    font-size: 20px;
}
.nav-menu {
    display: flex;
    flex: 1;
    flex-direction: row; 
    justify-content: center;
}
.nav-menu-work {
    margin-right: 10px;
}
.nav-menu-work a,
.nav-menu-about a {
    border-bottom: 2px solid light;
    color: #000;
    text-decoration: none;
}
.nav-menu-work a:hover,
.nav-menu-about a:hover {
    border-bottom: 2px solid #000;
}
.nav-menu-about {
    margin-left: 10px;
}

/*
    -----------------
    -----------------
          HERO
    -----------------
    -----------------
*/

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.hero-content {
    text-align: left;
    font-size: 90px;
    line-height: 1;
    letter-spacing: 10px;
}
.hero-content p{
    font-size: 60px;
    text-align: center;
}

/*
    ----------------
    ----------------
        PROJECTS
    ----------------
    ----------------
*/
.work-container {
    flex-direction: column;
    justify-content: flex-start;
}
.featured-work {
    border-bottom: 10px solid #000;
    border-radius: 4px;
    font-size: 100px;
    margin-bottom: 20px;
}
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project {
    border: 1px solid black;
    width: 1200px;
    height: 400px; 
}
#project-1 {
    background-image: url(/images/Unsplash-RealEstate-banner-1200x400.jpg);
    opacity: 0.8;
}
#project-2 {
    background-image: url(/images/steve-halama-225825-twochairs-banner-1200x400.jpg);
    opacity: 0.8;
}
#project-3 {
    background-image: url(/images/unsplash-city-avenue-1200x400.jpg);
    opacity: 0.8;    
}    

/*
    --------------------
    --------------------
          FOOTER
    --------------------
    --------------------
*/
.footer-container {
    justify-content: center;
}
.footer-container a {
    font-size: 16px;
    margin: 0 20px;
}





