body {
    background-color: #456987;
    width: 100%;
    color: #fff;

}

h1 {
    color: #fff;
    font-weight: 800;
    font-family: lato;
    font-size: 66px;
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: 800;
}
