/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*
    --------------------
    --------------------
        CUSTOM STYLES
    --------------------
    --------------------
*/
body {
    font-family: Lato;
}

/*
    ---------------------
    ---------------------
            GRID
    ---------------------
    ---------------------
*/
.container,
.grid,
.project-section{
    width: 960px;
}
.container {
    margin: 0 auto 60px auto;
}
.col-1-2 {
    display: inline-block;
    overflow: hidden;
    width: 46%;  
}
.col-1-2:last-of-type {
    margin-left: 22px;
}
.row {
    margin-bottom: 22px;
    margin-top: 22px;
    vertical-align: top;
}


/*
    ---------------------
    ---------------------
        TYPOGRAPHY
    ---------------------
    ---------------------
*/
header h1 {
    font-size: 70px;
    font-weight: 300;
    margin-top: 10px;
    padding-top: 100px;
}


/*
    --------------------
    --------------------
        PROJECTS
    --------------------
    --------------------
*/
.project-section h2 {
    border-bottom: 2px solid black;
    font-size: 40px;
    text-align: left;
}
.project-card h4 {
    border: 1px solid black;
}
.project-card {
    border: 1px solid gray;
    height: 200px;
    padding-left: 15x;
    padding-right: 15px;  
}
.project-card img {
    display: block;
    height: 99.99%;
    width: 50.4%;
}
.project-card p{
    font-size: 40px;
    margin: 30% 30%;
    text-align: center;
}

/*
    ------------------
    ------------------
            FORM
    ------------------
    ------------------
*/
fieldset {
    margin-left: 40px;
    margin-bottom: 10px;
}
label {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
    padding-right: 50px;
}
input,
textarea {
    border: 1px solid gray;
    border-radius: 6px;
    font-family: Lato;
    font-size: 22px;
    height: 50px;
    margin-bottom: 22px;
    width: 90%;
}
.contact-title {
    border-bottom: 2px solid black;
    font-size: 36px;
    margin-bottom: 20px;
}

/*
    --------------------
    --------------------
        FOOTER
    --------------------
    --------------------
*/
.footer li {
    display: inline-block;
    margin-right: 40px;
    font-size: 30px;
    vertical-align: top;
}
.footer a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
footer a:hover {
    color: cornflowerblue;
}
.footer li:last-of-type {
    margin-right: 0;
}









